@font-face {
  font-family: 'Great-Vibes-Regular';
  src: url('GreatVibes-Regular.ttf') format('truetype');
  /* Se a fonte incluir várias variações (negrito, itálico, etc.), você pode especificá-las aqui. */
}
@font-face {
  font-family: 'inria-serif-light-italic';
  src: url('InriaSerif-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'inria-serif-regular';
  src: url('InriaSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'inria-serif-bold';
  src: url('InriaSerif-Bold.ttf') format('truetype');
}
@media (max-width: 1200px) {
  
  .Discurso{
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  }
  
  .paragrafo1, .paragrafo2{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .paragrafo1{
    display: inline-block;
  }

  .destaque {
    font-family: 'inria-serif-bold', sans-serif;
    display: flex;
  }

  .h1{
    font-size: 40px;
    width: 50%;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0 15rem ;
    display: flex;
    letter-spacing: 3px;
  }
  .audio-player-container {
    width: 20rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 20px 10px;
    background-color: #ff005d00;
  }
}

@media (max-width: 720px) {
  .Discurso{
  margin: 0 2rem ;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  }
  .h1-container{
    background-color: rgba(255, 0, 0, 0);
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
  }
  .h1{
    font-size: 40px;
    width: 50%;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0 5rem ;
    display: flex;
    letter-spacing: 3px;
  }
  .paragrafo1{
    display: inline-block;
  }
  .audio-player-container {
    width: 15rem;
    display: flex;
    /* margin-left: 3.5rem; */
    padding: 0px 0px;
    background-color: #ff005d00;
  }
  

  .carousel-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding-top: 18px ;
    margin-top: 13px;
}

.carousel-slide {
    width: 100%;
    display: none;
    margin-left: -2vh;
    
}

.carousel-slide img {
    width: 100%;
    height: auto;
    margin-left: -1vh;
    padding: 1vh;
}
.fa-solid.fa-light.fa-chevron-left{
    padding: 1vh;
    margin-right: -1vh ;
}
.fa-solid.fa-light.fa-chevron-right{
  margin-left: -1vh;
  padding: 0vh;

}
/* .prev-button{
  margin-right: -100rem;
} */
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
} 
.linha-de-separação{
  width: 20rem;
  margin: 40px 1rem;

}


}

h1{
  text-align: center;
  font-family: 'Great-Vibes-Regular', cursive;
  font-size: 40px;
  width: 30rem;
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  background-color: #ffffff00;

}

.bodyy {
  background-image: -webkit-linear-gradient(270deg, #9dccf7bc, #9acefcce, #BDE0FE, #bac0dbab, #cfbadba3, #FFC8DD, #ffafccc5);
  /*
   primeiro usa o fallback: vh 
     max-width: 100vh;

  */
  /*
   em seguida a versao nova, caso não funcione será ignorada
     max-width: 100dvh;
  */

  width: 100%;  
  height: 100%;
  background-attachment: fixed;
}

.discurso-container {
  background-color: rgba(250, 250, 250, 0);
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
}

.Discurso {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2%;
}

.paragrafo1  {
  text-align: justify;
  font-family: 'inria-serif-light-italic', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
  margin-left: 4%;
}

.destaque {
  font-family: 'inria-serif-bold', sans-serif;
}

.destaque2 {
  font-family: 'Great-Vibes-Regular', cursive;
  font-size: 30px;
}


.paragrafo1::before {
  content: "";
  position: absolute;
  left: -15px; /* Ajuste a posição da barra conforme necessário */
  top: 0;
  bottom: 0;
  width: 4px; /* Largura da barra vertical */
  background-color: #CDB4DB; /* Cor da barra vertical */
}

.paragrafo2{
  text-align: justify;
  font-family: 'inria-serif-regular', sans-serif;;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.linha-de-separação{
  width: 32rem;
  border-top: 1px solid #cdb4db78; /* Cor e estilo da linha de separação */
  display: flex;
  justify-content: left;
  margin: 40px auto 5px;
}

.extra-container{
  width: 500px;
  display: flex;
  justify-content: left;
  margin: 0vh auto;
}
.paragrafo3{
  font-family: 'inria-serif-bold', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.Dias-container{
  width: 500px;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.data-m{
  font-family: 'inria-serif-regular', sans-serif;
  margin-top: -25px;
  font-size: 15px;
  margin-bottom: 0%;
  

}
.data-n{
  font-family: 'inria-serif-bold', sans-serif;
  font-size: 25px;
  margin-top: 0%;
}

.link{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  border: #A2D2FF 1px solid;
  padding: 1% 3%;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  color: black; /* Cor do link */
  text-decoration: none; /* Sublinhado por padrão */
}
.link:hover {
  color: #ffffff;
}
.link:active{
  color: #FFAFCC;
  background-color: white;
  font-size: 12px;
  box-shadow: 0 3px 15px -2px;
}



/* Estilização para o elemento audio */
.audio-player-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 10px; /* Define a altura como 100% da altura da viewport */
    padding: 20px 10px;
    background-color: #ff005d00;
  }
  
 .audio-player {
    display: flex;
    width: 100%;
    max-width: 30rem; /* Define a largura máxima do player de áudio */
    height: 2rem;
    background-color: #09ff0000;;
    padding: 5px;
    border: 3px solid #ff000000;
    border-radius: 30px;
  }
  .audio{
    width: 100%;
    height: 85%;
    max-width: 30rem;    
    height: 2rem;
    background-color: #ff9b9b00;
    padding: 5px ;
    border-radius: 10px;  
  }

  .audio-player-container .audio::-webkit-media-controls-panel {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 5px;

  }

  
  .audio-player-container .audio::-webkit-media-controls-play-button,
  .audio-player-container .audio::-webkit-media-controls-pause-button {
    background-color: #a2d2ff00;
    color: #fff;
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 10px  10px;
    
  }

  /* Estilizando o tempo de musica */
  .audio-player-container .audio::-webkit-media-controls-current-time-display,
  .audio-player-container .audio::-webkit-media-controls-time-remaining-display,
  .audio-player-container .audio::-webkit-media-controls-time-remaining-display {
    color: #0b0000;
    font-size: 14px;
  }
  
  /* Estilização para a barra de progresso */
  .audio-player-container .audio::-webkit-media-controls-timeline {
    background-color: #ddd;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 15px;

  }
  
  .audio-player-container .audio::-webkit-media-controls-seek-back-button,
  .audio-player-container .audio::-webkit-media-controls-seek-forward-button {
    display: none; /* Oculta os botões de retroceder e avançar, se desejado */
  }


  .carousel-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding-top: 18px ;
    margin-top: 13px;
}

.carousel-slide {
    width: 100%;
    display: none;
    
}

.carousel-slide img {
    width: 100%;
    height: auto;
}
/* 
button {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px ;
    margin-right: 5px;
    background-color: #eaf0f6;
    color: #000000;
    border: none;
    cursor: pointer;
}
 */



.arrow-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eaf0f600;
    color: #000000;
    border: none;
    cursor: pointer;
    position: relative;
}
.prev-button{
  margin-right: 1rem;
}

.arrow-button i {
  font-size: 24px; /* Tamanho do ícone */
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-indicator {
  width: 8px;
  height: 8px;
  background-color: #59585886;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  margin-top: 5px;
  
}
.foto-indicator:hover {
  background-color: #CDB4DB;
  
}

.foto-indicator:active {
  background-color: #88c6fc;
}

/* Estilos para o indicador ativo */
.foto-indicator.active-indicator {
  background-color: #a8b1e9;
  /* Adicione outros estilos desejados para o indicador ativo */
  box-shadow: 0 10px 14px -2px #000000;
  transform: scale(1.2);
  
}


.pressed {
  background-color: #36294e; /* Cor de fundo quando pressionado */
  color: #fff; /* Cor do texto quando pressionado */
    box-shadow: 0 10px 15px -2px;

}


